<!DOCTYPE html>
<html>
<head>
    <title>School Homepage</title>
</head>
<body>
    <h1>Welcome to Stariua Preparatory School</h1>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Campus Tour</a></li>
            <li><a href="{% url 'admissions_student' %}">Admissions</a></li>
            <li><a href="{% url 'teacher_landing' %}">Teachers</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Contact Us</a></li>
            

        </ul>
    </nav>

    <p>This is the public homepage. No login required.</p>
</body>
</html>
